---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="This is test site.">
	<main>
		<h1 class="text-5xl font-medium mb-10">This is test site.</h1>
    <div class="banners">
      <Banner
        href="https://example.com/1"
        title="Banner 1"
        id="banner_1"
      />
      <Banner
        href="https://example.com/2"
        title="Banner 2"
        id="banner_2"
      />
      <Banner
        href="https://example.com/3"
        title="Banner 3"
        id="banner_3"
      />
      <Banner
        href="https://example.com/4"
        title="Banner 4"
        id="banner_4"
      />
      <Banner
        href="https://example.com/5"
        title="Banner 5"
        id="banner_5"
      />
    </div>
	</main>
</Layout>

